body{
    background: rgb(229, 194, 194);
    margin: 0px;
    font-family: Verdana;
}

main{
    background: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}

#agregar_tab{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 10px
}

.agregar_div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

label{
    font-size: 20px;
    text-align: right;
    font-family: Verdana,
}

label:hover{
    cursor: pointer
}

.input_agregar_eliminar{
    border-radius: 2px;
    border: 1px solid transparent;
    margin: 0px;
    margin-right: 20px;
    font-size: 20px; text-align: center;
    width: 150px
}

.input_agregar_eliminar:focus{
    border: 1px solid black;
}

#agregar_button{
    width: 105px; height: 45px;
    background: rgb(111, 27, 111);
    color: rgb(243, 251, 253); font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 2px
}

#agregar_button:hover{
    cursor: pointer;
    margin: 0px;
    width: 109px; height: 49px;
    font-size: 22px;
    background: rgb(136, 50, 136)
}


/*------------------------------------------------------------------------------------*/
#eliminar_tab{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    margin: 10px;
}

.eliminar_divs{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#output_eliminar{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

p{
    margin: 0px;
    font-size: 20px
}
.p_nombre_columna{
    text-align: right;
}

#eliminar_button{
    width: 105px; height: 45px;
    background: rgb(111, 27, 111);
    color: rgb(243, 251, 253); font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 2px
}
#eliminar_button{
    cursor: pointer
}

